*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: red;

  border-bottom-color: red;
}

html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 0;
      margin: 0;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
